.spinner {
  display: inline-block;
  position: relative;
}

.spinnerInner {
  border: 2px solid transparent;
  border-top: 2px solid var(--accent-cyan);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.small {
  width: 16px;
  height: 16px;
}

.small .spinnerInner {
  width: 16px;
  height: 16px;
}

.medium {
  width: 24px;
  height: 24px;
}

.medium .spinnerInner {
  width: 24px;
  height: 24px;
}

.large {
  width: 32px;
  height: 32px;
}

.large .spinnerInner {
  width: 32px;
  height: 32px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
